{% extends 'blogapp/base.html' %}
{% block content %}
    {% for chat in chats%}
       <article class="media content-section">
            {% if request.user == chat.user1 %}
                <img class="rounded-circle article-img" src="{{ chat.user2.profile.image.url }}">
           {% else %}
                <img class="rounded-circle article-img" src="{{ chat.user1.profile.image.url }}">
           {% endif %}
           <div class="media-body">
               <div class="article-metadata">
               {% if request.user == chat.user1 %}
                   <a class="mr-2" href={% url 'chat-view' request.user.username chat.pk %}#{{ chat.last_msg_1 }}>{{ chat.user2.username }}</a>
               {% else %}
                   <a class="mr-2" href={% url 'chat-view' request.user.username chat.pk %}#{{ chat.last_msg_2 }}>{{ chat.user1.username }}</a>
               {% endif %}
               <small class="text-muted">{{ chat.last_msg_time|date:'l,j/F/Y'}} {{ chat.last_msg_time|time:'P'}}</small>
               </div>
           {% if chat.last_msg_from is None %}
           {% else %}
           <small class="text-muted">{{ chat.last_msg_from }} : {{ chat.last_msg }}</small>
           {% endif %}
           </div>
       </article>
    {% endfor %}
{% endblock %}