{% extends 'blogapp/base.html' %}
{% load crispy_forms_filters %}
{% block content %}
    <ul id="ul-my" style="list-style-type: none">
    {% for chatmessage in chatmessages %}
        <li>
       <article class="media content-section">
           <div class="media-body">
               {%  if request.user == chatmessage.mess_from %}
                   <div class="small" align="right">
                   <small>{{ chatmessage.time|time:'P' }}</small>
                   </div>
                    <div align="right" id={{ chatmessage.pk }}>
                        {{ chatmessage.message1 }}
                    </div>
               {% else %}
                   <div class="small">
                   {{ chatmessage.mess_from }}
                   <small>{{ chatmessage.time|time:'P' }}</small>
                   </div>
                    <div align="left" id={{ chatmessage.pk }}>
                        {{ chatmessage.message1 }}
                    </div>
               {% endif %}
           </div>
       </article>
        </li>
    {% endfor %}
    </ul>
    <script>var writing=false</script>
    <div id="form" >
    <form method="POST" id="form" onchange="change(this,writing)">
        {% csrf_token %}
        {{ form }}
        <footer-btn>
        <button class="btn btn-outline-info" type="submit">
            Send
        </button>
        </footer-btn>
    </form>
    </div>
    <script>
    function change(form,writing){
        writing=true
    }
    setInterval(function (){
        if(writing===false)
        {location.reload()
        }
        writing=false
        },15000)
    </script>
{% endblock %}
